<% layout('layouts/boilerplate') %>
<BR>

<br>
<body>
  
  
    <form method="GET" action="/listings/new"></form>

    <!-- Add a container to hold the grid system -->
    <div class="container">
        <div class="row">
            <% for (let listing of alllistings) { %>
                <div class="col-lg-4 col-md-6 mb-4">
                    <!-- Start of card -->
                    <div class="card listing-card" style="width: 100%;">
                        <a href="/listings/<%= listing._id %>">
                            <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image">
                        </a>
                        <div class="card-body">
                            <p class="card-text">
                                <!-- Showing data -->
                                <b><%= listing.title %></b><br>
                                <%= listing.price %>/night
                            </p>
                        </div>
                    </div>
                    <!-- End of card -->
                </div>
            <% } %>
        </div>
    </div>
</body>
